@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	src: local("Montserrat-Regular"), 
	url('../fonts/Montserrat-Regular.woff2') format('woff2'),
	   		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	src: local("Montserrat-Medium"), 
	url('../fonts/Montserrat-Medium.woff2') format('woff2'),
	   		url('../fonts/Montserrat-Medium.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
	src: local("Montserrat-SemiBold"), 
	url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
	   		url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-display: swap;
}



@font-face {
	font-family: "Century-Gothic";
	font-weight: 400;
	font-style: normal;
	src: local("CenturyGothic-Regular"), 
	url('../fonts/CenturyGothic-Regular.woff2') format('woff2'),
	   		url('../fonts/CenturyGothic-Regular.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: "Century-Gothic";
	font-weight: 700;
	font-style: normal;
	src: local("CenturyGothic-Bold"), 
	url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
	   		url('../fonts/CenturyGothic-Bold.woff') format('woff');
	font-display: swap;
}





@font-face {
	font-family: "Pacifico";
	font-weight: 400;
	font-style: normal;
	src: local("Pacifico-Regular"), 
	url('../fonts/Pacifico-Regular.woff2') format('woff2'),
	   		url('../fonts/Pacifico-Regular.woff') format('woff');
	font-display: swap;
}

