$reg:    #232323;
$accent: #a52424;
$indi:   #29a826;

%mon-400 {
	font-family: "Montserrat-Regular", sans-serif;
	font-weight: 400;
}
%mon-500 {
	font-family: "Montserrat-Medium", sans-serif;
	font-weight: 500;
}
%mon-600 {
	font-family: "Montserrat-SemiBold", sans-serif;
	font-weight: 600;
}



%cen-400 {
	font-family: "CenturyGothic-Regular", sans-serif;
	font-weight: 400;
}
%cen-700 {
	font-family: "CenturyGothic-Bold", sans-serif;
	font-weight: 700;
}


%pac-400 {
	font-family: "Pacifico-Regular", sans-serif;
	font-weight: 700;
}
